th {
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

td {
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

#main-heading {
    font-family: Copperplate, Comic Sans MS;
    text-align: center;
}

#spacer {
    padding-top: 25;
    padding-bottom: 25px;
}

.past-challenge {
    font-size: .70em;
}
