#main-heading {
    font-family: Copperplate, Comic Sans MS;
    text-align: center;
    font-size: 4em;
}

.spacer {
    padding-top: 25;
    padding-bottom: 25px;
}


h4.name {
    text-align: center;
    color: #FFFFFF
}

p.challenge {
    color: #FFFFFF;
    text-align: center;
}

p.past-challenge {
    color: #FFFFFF;
    text-align: center;
    font-style: italic;
    font-size: .70em;
}

.challenge-tile {
    padding: 10px;
    background-color: #2196f3;
}